page-auth{
    display: flex;
    align-items: stretch;
    height: 100vh;
    background: blue;


    aside{
        flex: 7;
        background:  #835afd;
        color: #fff;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 120p 80px;
    }

    main{
        flex:8;
    }
}